HTTP_Callout_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>EmailValidation.Validate Email</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_for_success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>api_key</name>
            <value>
                <elementReference>api_key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailValidation.Validate Email</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>api_key</name>
        <dataType>String</dataType>
        <value>
            <stringValue>626043cffe7d41578436ad87aba77adf</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_success</name>
        <label>Check for success</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validation.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Outputs</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HTTP Callout Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HTTP Callout Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Email_Validator</name>
        <label>Email Validator</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Validate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Outputs</name>
        <label>Success Outputs</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;Email - {!Validation.2XX.email}&lt;/p&gt;&lt;p&gt;Deliverability - {!Validation.2XX.deliverability}&lt;/p&gt;&lt;p&gt;Quality score -{!Validation.2XX.qualityx5fscore}&lt;/p&gt;&lt;p&gt;Is valid? {!Validation.2XX.isx5fvalidx5fformat.value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Validator</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
