HttpCalloutTemplate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DeleteAction</name>
        <label>DeleteAction</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <actionName>DeleteExCred.DeleteAction</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Delete_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>PostCall.2XX.id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DeleteExCred.DeleteAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myPATCHAction</name>
        <label>myPATCHAction</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <actionName>PATCHProductExCred.PATCH Action</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckPATCHResponse</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>PostCall.2XX.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>myPATCHRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PATCHProductExCred.PATCH Action</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PostCall</name>
        <label>PostCall</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>ProductManagementExCred.ProductPostAction</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckPostResponse</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>myPostCallInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProductManagementExCred.ProductPostAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Put_callout</name>
        <label>Put callout</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>ProductManagementPUTExCred.PUTInvocableAction</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckPUTResponse</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>PostCall.2XX.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>myPUTInputRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProductManagementPUTExCred.PUTInvocableAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Post_Call_Values</name>
        <label>Assign Post Call Values</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>myPostCallInput.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPostCallInput.data.CPUx20model</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPU_model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPostCallInput.data.Hardx20diskx20size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hard_disk_size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPostCallInput.data.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPostCallInput.data.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2024.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PostCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update a name</description>
        <name>PATCHBodyAssignment</name>
        <label>PATCHBodyAssignment</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>myPATCHRequest.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PATCH_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myPATCHAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Price and Color</description>
        <name>PUTAssignment</name>
        <label>PUTAssignment</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>myPUTInputRequest.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PUT_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPUTInputRequest.data.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PUT_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPUTInputRequest.data.CPUx20model</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PUT_CPU_model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPUTInputRequest.data.Hardx20diskx20size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PUT_Hard_disk_size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPUTInputRequest.data.color</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PUT_Color</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myPUTInputRequest.data.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2024.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_callout</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ColorChoice</name>
        <choiceText>Color</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Color</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPUModelChoice</name>
        <choiceText>CPU Model</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPU Model</stringValue>
        </value>
    </choices>
    <choices>
        <name>HardDiskSize</name>
        <choiceText>Hard Disk Size</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hard Disk Size</stringValue>
        </value>
    </choices>
    <choices>
        <name>NameChoice</name>
        <choiceText>Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>PriceChoice</name>
        <choiceText>Price</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Price</stringValue>
        </value>
    </choices>
    <choices>
        <name>Year</name>
        <choiceText>Year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Year</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckPATCHResponse</name>
        <label>CheckPATCHResponse</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_PUT_Failure_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>PATCHSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myPATCHAction.2XX.name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>myPATCHRequest.name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patch_Success_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPostResponse</name>
        <label>CheckPostResponse</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Failure_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PostCall.2XX.id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPUTResponse</name>
        <label>CheckPUTResponse</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Failure_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>PUTSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Put_callout.2XX.updatedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Success_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>This covers post</description>
    <environments>Default</environments>
    <interviewLabel>HttpCalloutTemplate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HttpCalloutTemplate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_Failure_Screen</name>
        <label>PUT Failure Screen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PATCHScreen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FailureMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(221, 40, 40);&quot;&gt;The product was not updated successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_PUT_Failure_Screen</name>
        <label>PATCH Failure Screen</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeleteAction</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_FailureMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(221, 40, 40);&quot;&gt;The product was not updated successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Success_Screen</name>
        <label>Put Success Screen</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PATCHScreen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_OutPut</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 134, 81);&quot;&gt;Response Code: {!Put_callout.responseCode}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 134, 81);&quot;&gt;Updated Time: {!Put_callout.2XX.updatedAt}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Screen</name>
        <label>Delete Screen</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DeleteMSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!DeleteAction.2XX.message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure_Screen</name>
        <label>Failure Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PUT_Screen</targetReference>
        </connector>
        <fields>
            <name>FailureMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(221, 40, 40); font-size: 14px;&quot;&gt;The product was not created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Patch_Success_Screen</name>
        <label>Patch Success Screen</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeleteAction</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_OutPut</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(25, 115, 58);&quot;&gt;You have updated the product name successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 134, 81);&quot;&gt;Response Code: {!myPATCHAction.responseCode}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 134, 81);&quot;&gt;Updated Name: {!myPATCHAction.2XX.name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PATCHScreen</name>
        <label>PATCH Screen</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PATCHBodyAssignment</targetReference>
        </connector>
        <fields>
            <name>PATCHScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PATCHScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_HeaderForPost</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Product Details﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PATCH_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Initiate PATCH request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>POST_Screen</name>
        <label>POST Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Post_Call_Values</targetReference>
        </connector>
        <fields>
            <name>POST_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>POST_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeaderForPost</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Product Details﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>price</name>
            <dataType>Currency</dataType>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CPU_model</name>
            <dataType>String</dataType>
            <fieldText>CPU model</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Hard_disk_size</name>
            <dataType>String</dataType>
            <fieldText>Hard disk size</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Initiate POST request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PUT_Screen</name>
        <label>PUT Screen</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PUTAssignment</targetReference>
        </connector>
        <fields>
            <name>PUT_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PUT_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_HeaderForPost</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Product Details﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PUT_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PUT_price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>price</elementReference>
            </defaultValue>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PUT_CPU_model</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CPU_model</elementReference>
            </defaultValue>
            <fieldText>CPU model</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PUT_Hard_disk_size</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Hard_disk_size</elementReference>
            </defaultValue>
            <fieldText>Hard disk size</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PUT_Color</name>
            <dataType>String</dataType>
            <fieldText>Color</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Initiate PUT request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PUT_Screen</targetReference>
        </connector>
        <fields>
            <name>OutPut</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 134, 81);&quot;&gt;Response Code: {!PostCall.responseCode}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 134, 81);&quot;&gt;Name:  {!PostCall.2XX.name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 134, 81);&quot;&gt;Id: {!PostCall.2XX.id}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>POST_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>myPATCHRequest</name>
        <apexClass>ExternalService__PATCHProductExCred_PATCHx20Action_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myPostCallInput</name>
        <apexClass>ExternalService__ProductManagementExCred_ProductPostAction_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myPUTInputRequest</name>
        <apexClass>ExternalService__ProductManagementPUTExCred_PUTInvocableAction_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
