IBAN_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IBANValidation</name>
        <label>IBANValidation</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>IBANExService.IBAN</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckResult</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>api_key</name>
            <value>
                <elementReference>IBANApiKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iban</name>
            <value>
                <elementReference>IBAN_Number</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IBANExService.IBAN</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>IBANApiKey</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5e31bd7926884d93b61a490f0cb6eb4c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckResult</name>
        <label>CheckResult</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>FailureScreeen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IBANValidation.2XX.isx5fvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IBAN Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IBAN Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>FailureScreeen</name>
        <label>FailureScreeen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailureMSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(208, 17, 17); font-size: 14px;&quot;&gt;Invalid!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Information</name>
        <label>Payment Information</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IBANValidation</targetReference>
        </connector>
        <fields>
            <name>IBAN_Number</name>
            <dataType>String</dataType>
            <fieldText>IBAN Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Validate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(18, 147, 65);&quot;&gt;Your IBAN is Valid!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(4, 37, 16);&quot;&gt;IBAN - {!IBANValidation.2XX.iban} &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(4, 37, 16);&quot;&gt;Valid - {!IBANValidation.2XX.isx5fvalid}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Payment_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
